{% extends 'base.html.twig' %}

{% block title %}Welcome to FashionShop{% endblock %}

{% block body %}
    {# Include the header banner #}

    {# Featured Categories #}
    <section id="billboard" class="home-slider slide-clip slide-in" data-bs-theme="dark">
        <div class="swiper overflow-hidden" style="height: 100vh;">
            <div class="swiper-wrapper">
                <div class="swiper-slide jarallax py-5 d-flex align-items-center">
                    <img src="{{ asset('assets/images/banner-large-image3.jpg') }}" class="jarallax-img" alt="banner">
                    <div class="container">
                        <div class="row justify-content-center banner-item text-center align-items-center">
                            <div class="banner-content col-lg-7 py-md-5">
                                <h2 class="display-1 txt-fx slide-up">Timeless Elegance</h2>
                                <p class="text-white">Sed condimentum ipsum, ultrices in aliquam ac hendrerit diam praesent. Ac dui convallis elit odio eget a commodo. Commodo eget natoque aliquam vitae pellentesque euismod suscipit id vulputate.</p>
                                <button href="#" class="button button--bestia text-uppercase mt-3">
                                    <div class="button__bg"></div><span>Shop Collection</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide jarallax py-5 d-flex align-items-center">
                    <img src="{{ asset('assets/images/banner-large-image2.jpg') }}" class="jarallax-img" alt="banner">
                    <div class="container">
                        <div class="row justify-content-center banner-item text-center align-items-center">
                            <div class="banner-content col-lg-7 py-md-5">
                                <h2 class="display-1 txt-fx slide-up">Unmatched Craftsmanship</h2>
                                <p class="text-white">Sed condimentum ipsum, ultrices in aliquam ac hendrerit diam praesent. Ac dui convallis elit odio eget a commodo. Commodo eget natoque aliquam vitae pellentesque euismod suscipit id vulputate.</p>
                                <button href="#" class="button button--bestia text-uppercase mt-3">
                                    <div class="button__bg"></div><span>Shop Collection</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide jarallax py-5 d-flex align-items-center">
                    <img src="{{ asset('assets/images/banner-large-image1.jpg') }}" class="jarallax-img" alt="banner">
                    <div class="container">
                        <div class="row justify-content-center banner-item text-center align-items-center">
                            <div class="banner-content col-lg-7 py-md-5">
                                <h2 class="display-1 txt-fx slide-up">100% Genuine Leather</h2>
                                <p class="text-white">Sed condimentum ipsum, ultrices in aliquam ac hendrerit diam praesent. Ac dui convallis elit odio eget a commodo. Commodo eget natoque aliquam vitae pellentesque euismod suscipit id vulputate.</p>
                                <button href="#" class="button button--bestia text-uppercase mt-3">
                                    <div class="button__bg"></div><span>Shop Collection</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24"><use xlink:href="#angle-left"></use></svg></div>
        <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24"><use xlink:href="#angle-right"></use></svg></div>
    </section>

    <section class="features py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-dark" data-aos="fade-in" data-aos-delay="0">
                    <div class="py-md-3">
                        <svg class="text-secondary" width="75" height="75"><use xlink:href="#random-1"></use></svg>
                        <h4 class="text-dark text-capitalize my-3">100% Genuine Leather</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-dark" data-aos="fade-in" data-aos-delay="300">
                    <div class="py-md-3">
                        <svg class="text-secondary" width="75" height="75"><use xlink:href="#random-2"></use></svg>
                        <h4 class="text-dark text-capitalize my-3">Hand-Stitched Perfection</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-dark" data-aos="fade-in" data-aos-delay="600">
                    <div class="py-md-3">
                        <svg class="text-secondary" width="75" height="75"><use xlink:href="#random-3"></use></svg>
                        <h4 class="text-dark text-capitalize my-3">Minimalist</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-dark" data-aos="fade-in" data-aos-delay="900">
                    <div class="py-md-3">
                        <svg class="text-secondary" width="75" height="75"><use xlink:href="#random-4"></use></svg>
                        <h4 class="text-dark text-capitalize my-3">Functional Designs</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-dark" data-aos="fade-in" data-aos-delay="0">
                    <div class="py-md-3">
                        <svg class="text-secondary" width="75" height="75"><use xlink:href="#random-5"></use></svg>
                        <h4 class="text-dark text-capitalize my-3">Ethically Crafted</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-dark" data-aos="fade-in" data-aos-delay="300">
                    <div class="py-md-3">
                        <svg class="text-secondary" width="75" height="75"><use xlink:href="#random-6"></use></svg>
                        <h4 class="text-dark text-capitalize my-3">Free Worldwide Shipping</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-dark" data-aos="fade-in" data-aos-delay="600">
                    <div class="py-md-3">
                        <svg class="text-secondary" width="75" height="75"><use xlink:href="#random-7"></use></svg>
                        <h4 class="text-dark text-capitalize my-3">Easy Returns</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-dark" data-aos="fade-in" data-aos-delay="900">
                    <div class="py-md-3">
                        <svg class="text-secondary" width="75" height="75"><use xlink:href="#random-8"></use></svg>
                        <h4 class="text-dark text-capitalize my-3">Sustainable</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 cat-item position-relative">
                    <div class="image-holder">
                        <a href="{{ path('products',{category:'forhim'}) }}"><img src="{{ asset('assets/images/category-banner-1.jpg') }}" alt="categories" class="product-image img-fluid"></a>
                        <div class="category-content position-absolute bottom-0 p-5 text-uppercase">
                            <h4 class="section-title text-white">For Men</h4>
                            <a href="{{ path('products',{'category':"forhim"}) }}" class="text-white btn-link">Shop it Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 cat-item position-relative">
                    <div class="image-holder">
                        <a href="{{ path('products',{'category':"forher"}) }}"><img src="{{ asset('assets/images/category-banner-2.jpg') }}" alt="categories" class="product-image img-fluid"></a>
                        <div class="category-content position-absolute bottom-0 p-5 text-uppercase">
                            <h4 class="section-title
