<nav class="navbar fixed-top navbar-expand-lg bg-black text-uppercase fs-6 p-3 align-items-center" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center w-100 gx-0">

            <div class="col-auto">
                <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('assets/images/logo2.png') }}" alt="logo"></a>
            </div>

            <div class="col-auto">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-4 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('app_home') }}" aria-haspopup="true" aria-expanded="false">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                                    <li>
                                        <a href="{{ path('app_home') }}" class="dropdown-item item-anchor">Shop </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_home') }}" class="dropdown-item item-anchor">Single Product </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownPages">
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">About </a></li>
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">Cart </a></li>
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">Checkout </a></li>
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">Coming Soon </a></li>
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">Contact </a></li>
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">Error Page </a></li>
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">FAQs </a></li>
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">My Account </a></li>
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">Order Tracking </a></li>
                                    <li><a href="{{ path('app_home') }}" class="dropdown-item item-anchor">Wishlist </a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                                                {# templates/base.html.twig (in your navbar) #}
                            <div class="navbar-nav ms-auto">
                            {% if app.user %}
                            <a class="nav-item nav-link" href="{{ path('app_logout') }}">Logout</a>
                                <a class="nav-item nav-link" href="{{ path('app_profile') }}">{{ app.user.username }}</a>

                            {% else %}
                            <a class="nav-item nav-link" href="{{ path('app_login') }}">Login</a>
                            <a class="nav-item nav-link" href="{{ path('app_register') }}">Register</a>
                            {% endif %}
                           </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-3 col-lg-auto">
                <ul class="list-unstyled d-flex m-0">
                    <li>
                        <a href="#" class="mx-2">
                            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
                        </a>
                    </li>
                    <li>
                       <a href="{{ path('cart_index') }}" class="mx-2">
                            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#cart"></use></svg>
                        </a>
                    </li>
                    <li class="search-box mx-2">
                        <a href="#search" class="search-button">
                            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#search"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
